{# templates/admin/commandes.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commandes des utilisateurs{% endblock %}

{% block body %}
<h1 class="my-4">Commandes des utilisateurs</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Utilisateur</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.user.email }}</td>
                <td>{{ commande.date|date('Y-m-d H:i:s') }}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <span class="badge badge-secondary">{{ commande.status }}</span>
                </td>
                <td>
                    <a href="{{ path('admin_commande_detail', { 'id': commande.id }) }}" class="btn btn-primary btn-sm">Voir détails</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
