{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Liste des livres</h1>

    <form id="search-form" action="{{ path('admin_livres_recherche') }}" method="GET" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" id="search-input" class="form-control" placeholder="Rechercher un livre..." aria-label="Rechercher un livre" aria-describedby="button-addon2">
        </div>
    </form>
    <div class="row">
        {% for livre in livres %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ livre.image }}" class="card-img-top" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre|capitalize }}</h5>
                        <p class="card-text">ISBN: {{ livre.isbn }}</p>
                        <p class="card-text">Editeur: {{ livre.editeur }}</p>
                        <p class="card-text">Date Edition: {{ livre.editedAt|date('d-m-Y') }}</p>
                        <p class="card-text">Prix(DT): {{ livre.prix }}</p>
                        <a href="{{ url('admin_livres_show', {'id': livre.id}) }}" class="btn btn-success">Voir détail</a>
                        <a href="" class="btn btn-danger">Supprimer</a>
                        <a href="" class="btn btn-primary">Editer</a>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchInput = document.getElementById('search-input');
            var searchForm = document.getElementById('search-form');
            var searchResultsContainer = document.getElementById('search-results-container');

            searchInput.addEventListener('input', function() {
                var searchTerm = searchInput.value.trim();
                if (searchTerm.length > 0) {
                   
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                            
                                searchResultsContainer.innerHTML = xhr.responseText;
                            } else {
                                console.error('Une erreur s\'est produite.');
                            }
                        }
                    };
                    xhr.open('GET', searchForm.getAttribute('action') + '?q=' + encodeURIComponent(searchTerm), true);
                    xhr.send();
                } else {
                    
                    searchResultsContainer.innerHTML = '';
                }
            });
        });
    </script>
{% endblock %}
