{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>
    
    <!-- Search form -->
    <form id="search-form" action="{{ path('user_livres_recherche') }}" method="GET" class="mb-4">
        <div class="input-group">
            <select name="categorie" class="form-control">
                <option value="">Toutes les catégories</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.libelle }}</option>
                {% endfor %}
            </select>
            <input type="text" name="titre" class="form-control" placeholder="Titre du livre..." aria-label="Titre du livre">
            <input type="text" name="auteur" class="form-control" placeholder="Auteur du livre..." aria-label="Auteur du livre">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>

    <div class="row" id="search-results-container">
        {% for livre in livres %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ livre.image }}" class="card-img-top" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre|capitalize }}</h5>
                        <p class="card-text">Auteur: {{ livre.auteur }}</p>
                        <p class="card-text">ISBN: {{ livre.isbn }}</p>
                        <p class="card-text">Editeur: {{ livre.editeur }}</p>
                        <p class="card-text">Catégorie: {{ livre.categorie.libelle }}</p> {# Add this line #}
                        <p class="card-text">Date Edition: {{ livre.editedAt|date('d-m-Y') }}</p>
                        <p class="card-text">Prix(DT): {{ livre.prix }}</p>
                        <a href="{{ url('admin_livres_show', {'id': livre.id}) }}" class="btn btn-success">Voir détail</a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
